.app {
    margin: 20px;
    padding: 20px;

}
.links {
    display: block;
    padding: 5px 5px 5px 20px;
    border: solid 1px #ddd;
    margin: 5px;
    box-shadow: 2px 2px 5px -3px;
}
[v-cloak]{
    display:none;
}
.clip-btn {
    width: 50px;
    position: absolute;
    right: 0;
    top: 10px;
    opacity: 0;
    transition: 0.3s;
}
.app:hover .clip-btn {
    opacity: 1;
    }